html, body {
    height: 100%;
    width: 100%;
    background:black
  }
  body{
  background-image:url('https://i.postimg.cc/wvWFL9YV/bg-intro-mobile.png');
    opacity:0,2;
    background:#F08080;
    padding:25px;
    width:291px;
    height:664px;
    margin-left: auto;
    margin-right: auto;
    margin-top : 23px ; 
  }
  section{
    height: 50px;
    width: 200px;
    display: grid;
    grid-gap: 10px;
    grid-template: repeat(2, 1fr);
    grid-auto-flow: row;
    padding:10px;
    justify-content: left;
    margin:1;
    display: inline;
    vertiacal-align:top;
  }
  .string{
    grid-row-start: 1;
    color: white;
  
  }
  .container{
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
  }
  .item1{
    color:white;
    border-radius:20px;
    background:#4141a4;
    padding:10px;
    width:100%;
    margin:center;
    align-items: stretch;
    -webkit-align-items: center;
    text-align:center;
  }
  .item2{
    background:white;
    width:100%;
    padding:27px;
    border-radius:20px;
    height:269px;
    margin-top:20px;
  }
  #strong{
    text-color: #f08080;
  }
  input:{
  width:100%;
  }
  button{
    background-color: #60c386;
    font-size: 4px;
    border-radius: 8px;
    width: 100%;
    border:none;
    display: inline-block;
    padding: 6px 14px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border-radius: 8px;
  }
  h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
  }
  .isol{
    color:#aba6a6;}
  strong{
   color:#f08080;
  }
  .solo{
    color:white;
  }
  .string{
    justify-content:center;
  }
  input:active {
    background-image: url("https://i.postimg.cc/vBbFKSXT/icon-error-2.png");
  }